.clearfix_inline {
  display: inline-block;
}
.clearfix_inline :after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
  display: block;
}
.clearfix :after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
.min_height_fix {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.unstyled_list {
  margin: 0;
}
.unstyled_list > li {
  margin: 0;
  list-style-type: none;
}
body {
  margin: 0;
  padding: 0;
  font-size: 13.5pt;
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-weight: bold;
  background: #1c1c1c;
  color: #dfdfdf;
}
a {
  color: #88C447;
}
div#page {
  width: 1000px;
  margin: 0 auto 0 auto;
  padding: 20px;
}
div#header {
  padding: 60px 0 0 0;
}
div#header div#logo {
  background: transparent url('../images/logo.png') no-repeat;
  height: 54px;
  width: 176px;
}
div#content {
  margin: 0 0 20px 0;
  padding: 0 0 0 5px;
}
div#content span.uber {
  color: #88C447;
}
div#content div.boxes {
  display: inline-block;
  display: block;
}
div#content div.boxes :after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div#content div.boxes br {
  line-height: 2px;
}
div#content .box {
  float: left;
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 7px 10px 0 0px;
  background: #222;
  padding: 0px;
  -moz-box-shadow: 0px 0px 16px #88C447;
  /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 16px #88C447;
  /* Saf3.0+, Chrome */
  box-shadow: 0px 0px 16px #88C447;
  border: 1px solid #333;
}
div#content a.box:hover {
  -moz-box-shadow: 0px 0px 16px #88C447;
  /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 16px #88C447;
  /* Saf3.0+, Chrome */
  box-shadow: 0px 0px 16px #88C447;
  border: 1px solid #88C447;
}
div#content .hover {
  -moz-box-shadow: 0px 0px 16px #88C447;
  /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 16px #88C447;
  /* Saf3.0+, Chrome */
  box-shadow: 0px 0px 16px #88C447;
  border: 1px solid #88C447;
}
div#content .name {
  margin: 0 0 0 134px;
}
